.main-header{
    /*position: relative;*/
    /*max-height: 100px;*/
    /*z-index: 1030;*/
    /*margin-left: 0px !important;*/
}

.user-account  .user-image{
float: left;
width: 25px;
height: 25px;
border-radius: 50%;
margin-top: -2px;
max-width: none;
}
.user-account  {
/*width: 280px;*/
}
.user-account .user-header{
    background-color: #6610f2;
    padding: 10px;
    text-align: center;
}
.user-account .user-header img{
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: rgba(247, 247, 247, 0.2);
    vertical-align: middle;
    border-radius: 50%;
}
.user-account .user-footer{
}
.user-account .user-footer .pull-left{
    float: left;
    padding: 5px;
}
.user-account .user-footer .pull-right{
    float: right;
    padding: 5px;
}
.small-box>.inner{
    /*padding: 0 10px;*/
}