﻿body {
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:#808080;
}
.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000000;
    text-align: center;
}
    .box h1{
        color:white;
        text-transform:uppercase;
        font-weight:500;
}

    .dangnhap{
        width:300px;
        height:50px;
        line-height:50px;
        background:#ff6a00;
        color:#fff;
    }
.box input[type="text"],.box input[type = "password"]{
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:2px solid #0094ff;
    padding:14px 10px;
    width:200px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0.25s;
}
    .box input[type="text"]:focus, .box input[type = "password"]:focus {
        width: 280px;
        border-color: #808080;
    }
    box input[type="submit"]{
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:2px solid #808080;
    padding:14px 40px;
    width:200px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0.25s;
    cursor:pointer;
    }
        box input[type="submit"]:hover {
            background: #00ff21;
    }